<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annotation Tool -- for full paragraphs</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script type="module" src="{{url_for('static', filename='Annotator.js')}}" defer></script>   
    <script type="module" src="{{url_for('static', filename='uix.js')}}" defer></script>    

</head>
<body>
    <h1>TF Annotation Tool</h1>
    <header>
        <nav>
            <ul class="main-navbar">
                <li class="navbar-item">
                    <div id="main-get-tf">Get new TF</div>
                    <div id="choose-applikation">
                        <ul>
                            <li>
                                <div>Bundesrecht</div>
                                <form id="choose-bundesrecht" action="/get_token_frame" method="get">
                                    <label for="gesetzesnummer-select">Select Gesetzesnummer:</label>
                                    <select id="gesetzesnummer-select" onchange="document.getElementById('gesetzesnummer').value = this.value">
                                        <option value="10002864">PHG</option>
                                        <option value="10002757">StGB</option>
                                    </select>
                                    <label for="gesetzesnummer">Gesetzesnummer:</label>
                                    <input type="tel" name="gesetzesnummer" id="gesetzesnummer" placeholder="10002864" required>
                                    <label for="paragraph">Paragraph (§):</label>
                                    <input type="number" name="paragraphnummer" id="paragraph" placeholder="1" required>
                                    <label for="br-doc-paragraph">Absatz:</label>
                                    <input type="number" name="doc_paragraph_id" id="br-doc-paragraph" placeholder="0" required>
                                    <button type="submit" id="get_tf_br">Get TF</button>
                                </form>
                            </li>
                            <li>
                                <div>Judikatur</div>
                                <form id="choose-judikatur" action="/get_token_frame" method="get">
                                    <label for="gz">Geschäftszahl:</label>
                                    <input type="text" name="geschaeftszahl" id="gz" placeholder="E4603/2021" required>
                                    <label for="jud-doc-paragraph">Absatz:</label>
                                    <input type="number" name="doc_paragraph_id" id="jud-doc-paragraph" placeholder="0" required>
                                    <button type="submit" id="get_tf_jud">Get TF</button>
                            </li>
                        </ul>

                     </div>
                
                </li>
                <li class="navbar-item">Set Version - Current:<span id="current-version"></span></li>
            </ul>
        </nav>
    </header>


   <div id="set-version-button">YYY</div>


    
    <menu class="navigation" id="label-navigation">
        <li><span id="label-buttons"></span></li>
        <li><span id="new-label"></span></li>
    </menu>
    <div id="text-container">
        <p id="text">insert text here</p>
    </div>
    <menu class="navigation" id="buttons">
        <li><button id="prev">Previous</button></li>
        <li><button id="next">Next</button></li>
        <li><button id="commit">Commit</button></li>
        <li><button id="save">Save</button></li>
    </menu>
</html>