<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Annotation Tool -- for full paragraphs</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div id="container">
        <script type="module" src="{{url_for('static', filename='Annotator.js')}}"></script>       
        <h1>Annotation Tool</h1>
        
        <fieldset>
            <legend>Choose Source for Tagging</legend>
            <form id="choose-form" action="/choose_source" method="post">
                <ul>
                    <li>
                        <label for="branch-input">Branch:</label>
                        <input type="text" id="branch-input" name="branch-input" required placeholder="zB.: vfgh">
                    </li>
                    <li>
                        <label for="year-input">Year:</label>
                        <input type="number" id="year-input" name="year-input" required placeholder="zB.: 2023">
                    </li>
                    <li>
                        <button type="submit" id="choose-button">Submit</button>
                    </li>
                </ul>
                
            </form>
           
        </fieldset>

        <!---form action="/submit" method="post" autocapitalize="on" target="_blank">
            <label for="numberInput">Enter Year:</label>
            <input type="number" id="numberInput" name="numberInput" required placeholder="2023">
            
            <br>
            
            <label for="stringInput">Enter Branch (vfgh/vwgh/justiz):</label>
            <input type="text" id="stringInput" name="stringInput" placeholder="zB.: vfgh" required placeholder="vfgh">
            
            <br>
    
            <input type="submit" value="Submit">
        </form--->
        
        <menu class="navigation" id="label-navigation">
            <li><span id="label-buttons"></span></li>
            <li><span id="new-label"></span></li>
        </menu>
        <div id="text-container">
            <p id="text">insert text here</p>
        </div>
        <menu class="navigation" id="buttons">
            <li><button id="prev">Previous</button></li>
            <li><button id="next">Next</button></li>
            <li><button id="commit">Commit</button></li>
            <li><button id="save">Save</button></li>
        </menu>
    </div>
</html>