/* font sans-serif */
body {
    font-family: sans-serif;
}

/*==========================================*/
/* CSS for the navigation */
.main-navbar {
    background-color: #8f8f8f;
    border: 2px solid black;
}
.navbar ul {
    background-color: #8f8f8f;
    border: 1px solid black;
    color: black;
    padding: 0.5em;
}

/* ==========================================*/ 
/* CSS for the annotation part  */

/* make subscript as small as possible */
sub {
    font-size: 0.5em;
}

/* put all token elements with classname "doc-token" in a box with very thin and light grey border */
.doc-token {
    border: 1px solid rgb(105, 105, 105);
    padding: 1px;
}

/* id annotation_text: lightblue background and black border, increase distance between lines  */
#text {
    background-color: lightblue;
    border: 4px solid black;
    font-size: larger;
    line-height: 1.5em;
}


  